<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" name="submit">
</form>

